
    <div class="col-xs-12 col-sm-12">

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),  url('<%= image_path "seville.jpg"%>');">

 <div class="card-description">
    <h2>Solicita a <%= @service.name %> en <%= @service.city %></h2>

<span class="label label-default">
  <%= @service.category %>
   </span>
 <% if @service.photo? %>
   <%= cl_image_tag @service.photo.path, width: 50, width: 70, crop: :fill %>
   <% end %>
  </div>
  </div>

        <strong>Nombre:</strong>
        <%= @service.name %>
      </p>

      <p>
        <strong>Ciudad:</strong>
        <%= @service.city %>
      </p>

      <p>
        <strong>Precio:</strong>
        <%= @service.price %>euros
      </p>



<% if current_user == @service.user %>
<%=link_to 'Editar', edit_service_path(@service), class: "btn btn-warning" %>
<% end %>

<%=link_to 'Volver a la lista', services_path, class: "btn btn-primary" %>
    </div>
