<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "seville.jpg"%>');">
  <div class="banner-content">
    <h1>LaBienvenida</h1>
    <p>Solicita un conserje para ocuparse de tu alquiler Airbnb cuando no estas en casa</p>
     <%= link_to "Descubre nuestros conserjes", services_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<div class= "container padded">
  <div clas="row">
    <div class="col-xs-12 col-sm-4">
      <%= link_to "Check-in", services_path(category: "Check-in"), class: "banner-ind.checkin" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to "Check-out", services_path(category: "Check-out"), class:"banner-ind.checkout" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to "Limpieza", services_path(category: "Limpieza"), class: "banner-ind.limpieza" %>
    </div>
  </div>
</div>